<div class="container mt-4">
  <div class="d-flex flex-column gap-2 w-50 mb-5">
    <nav class="navbar navbar-light bg-primary-subtle justify-content-center">
      <a class="navbar-brand ms-3 fs-4 fw-semibold" routerLink="">Fun for Nerds</a>
    </nav>

    <div class="d-flex flex-column gap-2 w-250">
      <app-input-words (userData)="getUserInput($event)"></app-input-words>
    </div>

    <div class="row">
        <div class="col bg-light border-end ">
          <app-odd-length-words [oddWords]="oddWords"></app-odd-length-words>          
        </div>
        <div class="col bg-light  ">
          <app-even-length-words [evenWords]="evenWords"></app-even-length-words>          
        </div>
    </div>
  </div>
</div>